*{
    font-family: 'Prompt', sans-serif;
}

.sectionCadastro{
    height: 100vh;
}

.divLogo{
    display: flex;
    justify-content: center;
}

.logo{
    max-width: 50%;
    max-height: 30vh;
    margin: 5rem 0;
}

.formCadastro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.infoCadastro{
    margin: 1rem;
}

.labelCadastro{
    font-family: 'Prompt', sans-serif;
    font-size: 1rem;
    margin: 0 0.5rem 0 1rem;
}

.inputCadastro{
    width: 65%;
    height: 1.5rem;
    border:  0.001rem solid #222;
    border-radius: 5px;
}

.erros{
    color:#ff0000;
    text-align: center;
    display: block;
    font-size: 0.85rem;
    font-weight: 500;
}

.btnCadastro{
    background: #b302b3;
    color:#FFF;
    font-size: 1.5rem;
    margin-top: 1em;
    border: 0.05px solid #b302b3 ;
    border-radius: 5px;
    transition: 0.5s;
}

.btnCadastro:hover{
    background: #970197;
    cursor: pointer;
}
